# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS
.DS_Store

# Next.js
.next/
out/
.vercel/
.netlify/

# Env files
.env*
!.env.example
!.env.local.example

# TypeScript
*.tsbuildinfo
/dist/

# Logs
logs
*.log
*.pid
*.seed
*.pid.lock

# Coverage
coverage/

# Editor/IDE
.vscode/
.idea/

# Build tools / caches
.turbo/
.cache/
supabase/.temp/

# Misc
*.swp
*.swo
.vercel

# Separate projects
Homepage/
